@import url(//db.onlinewebfonts.com/c/b179ecc01bddfa50f9a9f2009fff7659?family=LeituraW01-DisplayItalic);
@import url(//db.onlinewebfonts.com/c/a8bd9d5e3dd45325d264b2639c7e9557?family=Leitura+News);
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}